/* For Sticky Header */

header{
    z-index: 100;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 60px;
    line-height: 108px;
    height: 95px;
    background: #434348;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

header.sticky {
    font-size: 24px;
    line-height: 48px;
    height: 48px; 

    text-align: left;
    padding-left: 20px;
}

.story {
	background-color: #FFF;
	border-radius: 20px;
  
	padding: 120px 20px 20px 20px;
  max-width: 1200px;

  margin-left:auto;
  margin-right:auto;
}

/* D3 Formatting */

#hrace, #hage, #huser {
	 font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

/* Tooltip styling */
.d3-tip {
  line-height: 1;

  padding: 12px;
  background: #fff;
  color: #000;
  border-radius: 2px;

  box-shadow: 3px 3px 3px #434348;
}

/* Creates a small triangle extender for the tooltip */
/*.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #fff;
  content: "\25BC";
  position: absolute;
  text-align: center;
}*/

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* End D3 Formatting */

/* HighCharts Formatting */
#overdose {
  display: inline-block;
  width: 800px; 
  height: 400px; 
  margin: 0 auto;
}

/* End HighCharts Formatting*/

a {
  text-decoration: none;
  color:#000;
}

a:hover {
  color:orange;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	background-color:#7F7F7F;
  margin:0;
}

h2, h3, h4 {
	margin-top: 5px;
	margin-bottom: 5px;
}

hr {
	color: #BFBFBF;
}

p {
	line-height: 120%;
}

ul {
  list-style-type: square;
}