/* Main content styling */

.bg-image {
    position: relative;
}

.bg-image img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.bg-image span {
    position: absolute;
    text-align: center;
    top:50%;
    bottom: auto;
    left: 0;
    right: 0;

    background-color: rgba(0,0,0, 0.5);
    color: white;
}

#headline {
    font-size: 64px;
    font-family: Oswald;
    letter-spacing: 2px;
    margin: 20px auto 20px auto;
}

.byline {
    font-size: 18px;
    font-style: italic;
    margin: 10px auto 8px auto;
}

.content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color:#000;
}

a:hover {
    color:orange;
}

body {
    font-family: ff-tisa-web-pro, Georgia, Times, 'Times New Roman', serif;
    font-size: 12pt;
    line-height: 1.8;
    background-color: #FFFFFF;
    margin:0;
}

h2, h3, h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

hr {
    color: #BFBFBF;
}

ul {
    list-style-type: square;
}

/* D3 Formatting */
#hrace, #hage, #huser {
	 font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

/* Tooltip styling */
.d3-tip {
  line-height: 1;

  padding: 12px;
  background: #fff;
  color: #000;
  border-radius: 2px;

  box-shadow: 3px 3px 3px #434348;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
/* End D3 Formatting */

/* HighCharts Formatting */
#overdose {
  display: inline-block;
  width: 800px; 
  height: 400px; 
  margin: 0 auto;
}
