h1, h2, h3, h4, h5 {
    /*font-family: 'PT Serif Caption';*/
    font-family: "PT Sans Narrow";
    text-transform: uppercase;
    color: #135267;
}

#title {
    background-color: #C2E7CE;
}

#title h1 {
    color: #135267;
}

body {
    font-family: 'PT Serif', serif;
}